---
import Section from '../../components/Section.astro';
import WorkExperienceDate from './WorkExperienceDate.astro';
---

<Section title="Education">
  <div class="bg-gray-50 dark:bg-gray-900 p-4 rounded-lg">
    <WorkExperienceDate start="Sep 1996" end="Jun 1999" />
    <h3 class="text-xl font-semibold">Leicester University</h3>
    <p class="text-lg text-gray-600 dark:text-gray-300">Leicester, United Kingdom</p>
    <p class="text-lg text-cyan-700 dark:text-cyan-300 mt-2">Bachelor of Science in Computer Science</p>
  </div>
</Section>
