---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
// import Education from './Education.astro';
import Introduction from './Introduction.astro';
import NotableWork from './NotableWork.astro';
import Skills from './Skills.astro';
import WorkExperience from './WorkExperience.astro';
import SidebarNav from '../../components/SidebarNav.astro';
import MoreContent from '../../components/MoreContent.astro';

const sections = [
  { id: 'introduction', title: 'Introduction' },
  { id: 'skills', title: 'Skills' },
  { id: 'experience', title: 'Experience' },
  { id: 'notable-work', title: 'Notable Work' },
];
---

<DefaultLayout 
  title="Resume" 
  description="Phineas's professional experience, skills, and notable work"
  slug='resume'
  showArt={true}
>
  <div class="relative">
    <div>
      <div id="introduction">
        <Introduction />
      </div>
      <div id="skills">
        <Skills />
      </div>
      <div id="experience">
        <WorkExperience />
      </div>
      <div id="notable-work">
        <NotableWork />
      </div>
      <!-- <Education /> -->
    </div>
    <SidebarNav sections={sections} />
  </div>
  <MoreContent />
</DefaultLayout>