---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import Education from './Education.astro';
import Introduction from './Introduction.astro';
import NotableWork from './NotableWork.astro';
import Skills from './Skills.astro';
import WorkExperience from './WorkExperience.astro';
---

<DefaultLayout 
  title="Resume" 
  description="Phineas's professional experience, skills, and notable work"
>
  <div class="max-w-7xl mx-auto">
    <Introduction />
    <Skills />
    <WorkExperience />
    <Education />
    <NotableWork />
  </div>
</DefaultLayout>