---
import Section from '../../components/Section.astro';
---

<Section title="Introduction">
  <p class="text-lg leading-relaxed text-gray-700 dark:text-gray-300">
    Phineas is a Senior Software Engineer with 15+ years of experience in web development, specializing in
    building frontend solutions for web, mobile and TV platforms, who thrives in a team of
    high achievers who value continuous learning and mutual growth.	
  </p>		
</Section>
