---
import type { HTMLAttributes } from 'astro/types';

interface Props {
  imageProps: HTMLAttributes<'img'>;
  title: string;
  href: string;
}

const { imageProps, title, href } = Astro.props;
---

<a href={href} target="_blank" class="h-full flex flex-col rounded-lg bg-white/50 dark:bg-gray-950/50 p-6">
  <div class="relative h-30 mb-6 overflow-hidden rounded-md flex items-center justify-center p-4">
    <img 
      {...imageProps} 
      class="w-full h-full object-contain transition-transform duration-300" 
      alt={`${title} project screenshot`}
      loading="lazy"
    />
  </div>
  <h3 class="heading-3 mb-3 text-cyan-900 dark:text-cyan-100">
    {title}
  </h3>
  <div class="text-[1.0625rem] text-gray-900 dark:text-gray-200 leading-[1.75] tracking-[-0.01em]">
    <slot />
  </div>
</div>