---
import type { HTMLAttributes } from 'astro/types';

interface Props {
  imageProps: HTMLAttributes<'img'>;
}

const { imageProps } = Astro.props;
---

<div>
  <img 
    {...imageProps} 
    class="w-full h-32 object-contain mb-6 rounded" 
  />
  <slot />
</div>