---
import Link from "../../components/Link.astro";
import Section from "../../components/Section.astro";
import NotableWorkItem from "./NotableWorkItem.astro";
---

<Section title="Notable Work">
  <div class="grid md:grid-cols-2 gap-4 pt-4 mb-8">
    <NotableWorkItem 
      imageProps={{ src:"/work/qualcomm.jpg" }}
      title="Qualcomm Website Redesign"
    >
      <p>
        Complete redesign for a global technology brand <Link target="_blank" href="https://www.qualcomm.com">Qualcomm</Link>. Unified 6 different sites into a single React app with improved accessibility and performance.
      </p>
    </NotableWorkItem>
      
    <NotableWorkItem 
      imageProps={{ src:"/work/lennd.png" }}
      title="Lennd Event Platform"
    >
      <p>
        React and React Native app for the event management platform <Link target="_blank" href="https://www.lennd.com">Lennd</Link>, powered with GraphQL and real-time updates.
      </p>
    </NotableWorkItem>

    <NotableWorkItem 
      imageProps={{ src:"/work/monocle.jpg" }}
      title="Monocle Magazine"
    >
      <p>
        Pixel perfect layouts and responsive design for the global design magazine <Link target="_blank" href="https://www.monocle.com">Monocle</Link>, focusing on typography and visual hierarchy.
      </p>
    </NotableWorkItem>
  </div>
</Section>
