---
import Section from '../../components/Section.astro';
import WorkExperienceItem from './WorkExperienceItem.astro';
import Highlight from '../../components/Highlight.astro';
---

<Section title="Work Experience">
  <div class="grid xl:grid-cols-2 gap-8">
    <WorkExperienceItem start="Mar 2022" end="Aug 2024" company="Level Home" role="Senior Software Engineer">
      Architected a <Highlight type="achievement">monorepo</Highlight> of apps to control devices in smart apartments. The apps were a
      combination of <Highlight>NodeJS</Highlight>, <Highlight>NextJS</Highlight> and <Highlight>Remix</Highlight> apps, so that we could deliver the best possible user
      experience while maintaining a scalable UI. Collaborated closely with the UX team to create a
      <Highlight type="achievement">Design System</Highlight> using <Highlight>Figma</Highlight> and <Highlight>React</Highlight>. Mentored junior team members to enhance code quality
      and promote a growth mindset.
    </WorkExperienceItem>

    <WorkExperienceItem start="Jun 2022" end="Mar 2023" company="CodePath" role="Senior Fullstack Engineer">
      Teaching <Highlight>HTML</Highlight>, <Highlight>CSS</Highlight>, <Highlight>JS</Highlight> and <Highlight>React</Highlight> to interns at Meta University. Developed and maintained
      web applications using <Highlight>React</Highlight> and <Highlight>NodeJS</Highlight>. Collaborated with other instructors to improve
      course content and delivery.
    </WorkExperienceItem>

    <WorkExperienceItem start="Oct 2018" end="Jun 2022" company="LivePerson" role="Senior Fullstack Engineer">
      <Highlight type="achievement">Brainstormed and developed 3 web apps</Highlight> to allow a legacy app to support <Highlight type="achievement">AI generated
      responses</Highlight> using <Highlight>React</Highlight> and <Highlight>NodeJS</Highlight>. Built a <Highlight type="achievement">Design System</Highlight> and Component Library using
      <Highlight>Storybook</Highlight>, <Highlight>React</Highlight> and <Highlight>Web Components</Highlight>. Demonstrated leadership skills by mentoring several
      team members to promotion. Wrote documentation on <Highlight>type checking</Highlight>, automation, and branch
      strategies.
    </WorkExperienceItem>

    <WorkExperienceItem start="Sep 2017" end="Oct 2018" company="Vizio" role="Senior Fullstack Engineer">
      Solved <Highlight type="achievement">video streaming bugs</Highlight> in the <Highlight>React</Highlight>/<Highlight>NodeJS</Highlight> powered TV platform. I proposed and led the
      effort to <Highlight type="achievement">replace the core video player</Highlight>, so that we could improve performance across the entire
      range of supported devices.
    </WorkExperienceItem>

    <WorkExperienceItem start="Feb 2017" end="Sep 2017" company="Cisco" role="Senior Javascript Developer">
      Developed and maintained web applications using <Highlight>JavaScript</Highlight> and <Highlight>React</Highlight>. Collaborated with
      cross-functional teams to ensure seamless integration with backend services. Implemented
      best practices for performance optimization and accessibility.
    </WorkExperienceItem>

    <WorkExperienceItem start="Feb 2015" end="Feb 2016" company="Lennd" role="Senior Fullstack Engineer">
      At this incubator sponsored startup, I <Highlight type="achievement">ported an existing web app</Highlight> into <Highlight>React</Highlight>, and created a
      companion mobile app using <Highlight>React Native</Highlight> and <Highlight>GraphQL</Highlight>.
    </WorkExperienceItem>

    <WorkExperienceItem start="Oct 2013" end="Feb 2015" company="Mirum" role="Frontend Engineer">
      Responsible for managing multiple projects at the same time in this design agency. After
      receiving praise for my contributions to the <Highlight type="achievement">Qualcomm rebrand</Highlight>, I was given all projects that
      required complex JavaScript animation or unique out-of-the-box thinking.
    </WorkExperienceItem>

    <WorkExperienceItem start="Feb 2012" end="Oct 2013" company="Airlock" role="Frontend Engineer">
      Created responsive HTML web apps using an <Highlight>XML</Highlight> powered CMS. Mainly focused on creating
      the online presence for a lifestyle magazine which needed a meticulous eye for detail.
    </WorkExperienceItem>

    <WorkExperienceItem start="Sep 2011" end="Jan 2012" company="Capablue Ltd" role="TV Developer">
      <Highlight>JavaScript</Highlight> Developer working on an Internet Connected TV Set top box.
    </WorkExperienceItem>

    <WorkExperienceItem start="Aug 2011" end="Sep 2011" company="Illustrated London News" role="Wordpress Developer">
      Developed and maintained <Highlight>WordPress</Highlight> websites for various clients such as Maserati, Virgin and Vodafone UK.
    </WorkExperienceItem>

    <WorkExperienceItem start="Oct 2008" end="Oct 2010" company="AdjustYourSet" role="Web Developer">
      Created <Highlight type="achievement">custom HTML5 video players</Highlight> for large retail brands such as British Airways and Marks
      & Spencer. Specialized in complex JavaScript animation. Responsible for converting daily
      news feeds into streaming video.
    </WorkExperienceItem>

    <WorkExperienceItem start="Jul 2000" end="Aug 2004" company="Faceparty" role="Business Owner">
      I <Highlight type="achievement">co-founded and built one of the first online social networks</Highlight> with a friend. At its peak, we
      served <Highlight type="achievement">3 million users</Highlight> and was one of the UK's highest traffic websites. At the time, we were
      pioneers in dealing with such a large amount of traffic, and we faced multiple hardware related
      hurdles. Through hard work and determination we overcame them all, to produce a <Highlight type="achievement">performant
      scalable distributed network</Highlight> that distributed capacity and provided failover redundancy.
    </WorkExperienceItem>

    <WorkExperienceItem start="Aug 2011" end="Oct 2011" company="Dyson" role="Web Developer">
      Worked as a web developer at the Dyson research lab
    </WorkExperienceItem>

    <WorkExperienceItem start="Jun 1997" end="Jul 2000" company="Contract" role="Junior Web Developer">
      Whilst studying at University, I worked part-time contracting a web design agency.
      Daily responsibilities would be to convert Photoshop documents into responsive
      HTML/CSS/JavaScript micro-sites.
    </WorkExperienceItem>
  </div>
</Section>
