---
import WorkExperienceDate from './WorkExperienceDate.astro';
import WorkExperienceTitle from './WorkExperienceTitle.astro';

interface Props {
  start: string;
  end: string;
  company: string;
  role: string;
}

const { company, role, start, end } = Astro.props;
---

<section class="h-full flex flex-1 flex-col p-6 bg-gray-50 dark:bg-gray-900 rounded-lg border border-gray-100 dark:border-gray-800 hover:border-gray-200 dark:hover:border-gray-700 transition-colors">
  <WorkExperienceDate start={start} end={end} />
  <WorkExperienceTitle company={company} role={role} />
  <p class="pt-4 text-lg text-gray-600 dark:text-gray-400 leading-relaxed"><slot/></p>
</section>
