---
import WorkExperienceDate from './WorkExperienceDate.astro';
import WorkExperienceTitle from './WorkExperienceTitle.astro';

interface Props {
  start: string;
  end: string;
  company: string;
  role: string;
}

const { company, role, start, end } = Astro.props;
---

<section class="group h-full flex flex-1 flex-col p-6 bg-opacity-50 rounded-lg border border-gray-100 dark:border-gray-800 transition-all duration-300">
  <WorkExperienceDate start={start} end={end} />
  <WorkExperienceTitle company={company} role={role} />
  <p class="pt-4 text-[1.0625rem] text-gray-900 dark:text-gray-200 leading-[1.75] tracking-[-0.01em] font-normal transition-colors">
    <slot/>
  </p>
</section>
