---
import Section from '../../components/Section.astro';
import WorkExperienceItem from './WorkExperienceItem.astro';
---

<Section title="Work Experience">
  <div class="grid xl:grid-cols-2 gap-8">
    <WorkExperienceItem start="Mar 2022" end="Aug 2024" company="Level Home" role="Senior Software Engineer">
      Architected a monorepo of apps to control devices in smart apartments. The apps were a
      combination of NodeJS, NextJS and Remix apps, so that we could deliver the best possible user
      experience while maintaining a scalable UI. Collaborated closely with the UX team to create a
      Design System using Figma and React. Mentored junior team members to enhance code quality
      and promote a growth mindset.
    </WorkExperienceItem>

    <WorkExperienceItem start="Jun 2022" end="Mar 2023" company="CodePath" role="Senior Fullstack Engineer">
      Teaching HTML, CSS, JS and React to interns at Meta University. Developed and maintained
      web applications using React and NodeJS. Collaborated with other instructors to improve
      course content and delivery.
    </WorkExperienceItem>

    <WorkExperienceItem start="Oct 2018" end="Jun 2022" company="LivePerson" role="Senior Fullstack Engineer">
      Brainstormed and developed 3 web apps to allow a legacy app to support AI generated
      responses using React and NodeJS. Built a Design System and Component Library using
      Storybook, React and Web Components. Demonstrated leadership skills by mentoring several
      team members to promotion. Wrote documentation on type checking, automation, and branch
      strategies.
    </WorkExperienceItem>

    <WorkExperienceItem start="Sep 2017" end="Oct 2018" company="Vizio" role="Senior Fullstack Engineer">
      Solved video streaming bugs in the React/NodeJS powered TV platform. I proposed and led the
      effort to replace the core video player, so that we could improve performance across the entire
      range of supported devices.
    </WorkExperienceItem>

    <WorkExperienceItem start="Feb 2017" end="Sep 2017" company="Cisco" role="Senior Javascript Developer">
      Developed and maintained web applications using JavaScript and React. Collaborated with
      cross-functional teams to ensure seamless integration with backend services. Implemented
      best practices for performance optimization and accessibility.
    </WorkExperienceItem>

    <WorkExperienceItem start="Feb 2015" end="Feb 2016" company="Lennd" role="Senior Fullstack Engineer">
      At this incubator sponsored startup, I ported an existing web app into React, and created a
      companion mobile app using React Native and GraphQL.
    </WorkExperienceItem>

    <WorkExperienceItem start="Oct 2013" end="Feb 2015" company="Mirum" role="Frontend Engineer">
      Responsible for managing multiple projects at the same time in this design agency. After
      receiving praise for my contributions to the Qualcomm rebrand, I was given all projects that
      required complex JavaScript animation or unique out-of-the-box thinking.
    </WorkExperienceItem>

    <WorkExperienceItem start="Feb 2012" end="Oct 2013" company="Airlock" role="Frontend Engineer">
      Created responsive HTML web apps using an XML powered CMS. Mainly focused on creating
      the online presence for a lifestyle magazine which needed a meticulous eye for detail.
    </WorkExperienceItem>

    <WorkExperienceItem start="Sep 2011" end="Jan 2012" company="Capablue Ltd" role="TV Developer">
      JavaScript Developer working on an Internet Connected TV Set top box.
    </WorkExperienceItem>

    <WorkExperienceItem start="Aug 2011" end="Sep 2011" company="Illustrated London News" role="Wordpress Developer">
      Developed and maintained WordPress websites for various clients such as Maserati, Virgin and Vodafone UK.
    </WorkExperienceItem>

    <WorkExperienceItem start="Oct 2008" end="Oct 2010" company="AdjustYourSet" role="Web Developer">
      Created custom HTML5 video players for large retail brands such as British Airways and Marks
      & Spencer. Specialized in complex JavaScript animation. Responsible for converting daily
      news feeds into streaming video.
    </WorkExperienceItem>

    <WorkExperienceItem start="Jul 2000" end="Aug 2004" company="Faceparty" role="Business Owner">
      I co-founded and built one of the first online social networks with a friend. At its peak, we
      served 3 million users and was one of the UK's highest traffic websites. At the time, we were
      pioneers in dealing with such a large amount of traffic, and we faced multiple hardware related
      hurdles. Through hard work and determination we overcame them all, to produce a performant
      scalable distributed network that distributed capacity and provided failover redundancy.
    </WorkExperienceItem>

    <WorkExperienceItem start="Aug 2011" end="Oct 2011" company="Dyson" role="Web Developer">
      Worked as a web developer at the Dyson research lab. There I learned about the importance of brand identity and how to communicate it effectively.
    </WorkExperienceItem>

    <WorkExperienceItem start="Jun 1997" end="Jul 2000" company="Contract" role="Junior Web Developer">
      Whilst studying at University, I worked part-time contracting a web design agency.
      Daily responsibilities would be to convert Photoshop documents into responsive
      HTML/CSS/JavaScript micro-sites.
    </WorkExperienceItem>
  </div>
</Section>
