---
import { getCollection } from 'astro:content';
import PostCard from '../../components/PostCard.astro';
import Highlight from '../../components/Highlight.astro';
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import PostGrid from '../../components/PostGrid.astro';

// Get all posts and sort by date
const allPosts = await getCollection('blog');
const sortedPosts = allPosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// Select a random post as featured
const [featuredPost, ...otherPosts] = sortedPosts;

// Filter out the featured post from other posts
---

<DefaultLayout 
  title="Tech Blog" 
  description="A collection of articles about technology and related topics"
  slug='tech-blog'
  showArt={true}
>
  <section class="max-w-4xl mx-auto">
    <div class="mb-8 md:mb-12">
      <div class="text-[1.125rem] max-w-3xl">
        <p class="text-content text-gray-950 dark:text-gray-300 mb-6">
          A collection of articles about <Highlight>web development</Highlight>, <Highlight>software architecture</Highlight>, 
          and <Highlight>user experience</Highlight>. I write about my experiences building 
          <Highlight>high-performance applications</Highlight> and share insights about 
          <Highlight>emerging technologies</Highlight>.
        </p>
      </div>
    </div>

    {featuredPost && (
      <div class="mb-8 md:mb-12">
        <h2 class="heading-2 mb-4">Recent Post</h2>
        <div class="space-y-3">
          <PostCard post={featuredPost} variant="featured" baseUrl='/tech-blog/' color={featuredPost.data.color} />
        </div>
      </div>
    )}

    <div class="mb-8">
      <h2 class="heading-2 mb-4">More Posts</h2>
      <PostGrid posts={otherPosts} baseUrl='/tech-blog/' />
    </div>
  </section>
</DefaultLayout>
