---
import Link from '../components/Link.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Home" description='home page'>
	<ul class="grid gap-2 py-2 text-xl">
		<li>View my <Link href="/resume">Resume</Link></li>
		<li>Look at <Link href="/projects">Project concepts</Link></li>
		<li>Read <Link href="/blog">Blog</Link> entries</li>
	</ul>
</DefaultLayout>
