---
import Link from '../components/Link.astro';
import WorkExperienceDate from '../components/WorkExperienceDate.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import WorkExperience from '../components/WorkExperience.astro';
import NotableWork from '../components/NotableWork.astro';
import SectionTitle from '../components/SectionTitle.astro';
---

<DefaultLayout title='Resume' description='resume page'>
	<div class="container mx-auto py-6 px-8 text-gray-800 bg-gray-100 dark:text-gray-200 dark:bg-gray-900 rounded-md">
		<h2 class="text-2xl text-cyan-600 dark:text-cyan-200">Phineas Kibbey – Frontend Engineer</h2>
		<h3 class="text-sm text-gray-500 dark:text-gray-400">Seattle, WA</h3>
		<p class="text-sm">
			<Link href="https://linkedin.com/in/phineaskibbey" target="_blank" class="text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-600">linkedin.com/in/phineaskibbey</Link>
		</p>

		<SectionTitle title="Summary" />
		<p class="text-lg">
			Highly motivated and detail-oriented frontend developer seeking a role in a
			fast-paced, collaborative environment. Extensive experience architecting and
			building frontend solutions for web, mobile and TV platforms. Thrives in a team of
			high achievers who value continuous learning and mutual growth.	
		</p>		

		<SectionTitle title="Skills" />
		<p class="text-xl">React, TypeScript, JS, CSS, HTML, Jest, NodeJS, GraphQL, UI/UX Design</p>

		<SectionTitle title="Work Experience" />
		<WorkExperience start="Mar 2022" end="Aug 2024" company="Level Home" role="Senior Software Engineer">
			Architected a monorepo of apps to control devices in smart apartments. The apps were a
			combination of NodeJS, NextJS and Remix apps, so that we could deliver the best possible user
			experience while maintaining a scalable UI. Collaborated closely with the UX team to create a
			Design System using Figma and React. Mentored junior team members to enhance code quality
			and promote a growth mindset.
		</WorkExperience>

		<WorkExperience start="Jun 2022" end="Mar 2023" company="CodePath" role="Senior Fullstack Engineer">
			Teaching HTML, CSS, JS and React to interns at Meta University. Developed and maintained
			web applications using React and NodeJS. Collaborated with other instructors to improve
			course content and delivery.
		</WorkExperience>

		<WorkExperience start="Oct 2018" end="Jun 2022" company="LivePerson" role="Senior Fullstack Engineer">
			Brainstormed and developed 3 web apps to allow a legacy app to support AI generated
			responses using React and NodeJS. Built a Design System and Component Library using
			Storybook, React and Web Components. Demonstrated leadership skills by mentoring several
			team members to promotion. Wrote documentation on type checking, automation, and branch
			strategies.
		</WorkExperience>

		<WorkExperience start="Sep 2017" end="Oct 2018" company="Vizio" role="Senior Fullstack Engineer">
			Solved video streaming bugs in the React/NodeJS powered TV platform. I proposed and led the
			effort to replace the core video player, so that we could improve performance across the entire
			range of supported devices.
		</WorkExperience>

		<WorkExperience start="Feb 2017" end="Sep 2017" company="Cisco" role="Senior Javascript Developer">
			Developed and maintained web applications using JavaScript and React. Collaborated with
			cross-functional teams to ensure seamless integration with backend services. Implemented
			best practices for performance optimization and accessibility.
		</WorkExperience>

		<WorkExperience start="Feb 2015" end="Feb 2016" company="Lennd" role="Senior Fullstack Engineer">
			At this incubator sponsored startup, I ported an existing web app into React, and created a
			companion mobile app using React Native and GraphQL.
		</WorkExperience>

		<WorkExperience start="Oct 2013" end="Feb 2015" company="Mirum" role="Frontend Engineer">
			Responsible for managing multiple projects at the same time in this design agency. After
			receiving praise for my contributions to the Qualcomm rebrand, I was given all projects that
			required complex JavaScript animation or unique out-of-the-box thinking.
		</WorkExperience>

		<WorkExperience start="Feb 2012" end="Oct 2013" company="Airlock" role="Frontend Engineer">
			Created responsive HTML web apps using an XML powered CMS. Mainly focused on creating
			the online presence for a lifestyle magazine which needed a meticulous eye for detail.
		</WorkExperience>

		<WorkExperience start="Sep 2011" end="Jan 2012" company="Capablue Ltd" role="TV Developer">
			JavaScript Developer working on an Internet Connected TV Set top box.
		</WorkExperience>

		<WorkExperience start="Aug 2011" end="Sep 2011" company="Illustrated London News" role="Wordpress Developer">
			Developed and maintained WordPress websites for various clients.
		</WorkExperience>

		<WorkExperience start="Oct 2008" end="Oct 2010" company="AdjustYourSet" role="Web Developer">
			Created custom HTML5 video players for large retail brands such as British Airways and Marks
			& Spencer. Specialized in complex JavaScript animation. Responsible for converting daily
			news feeds into streaming video.
		</WorkExperience>

		<WorkExperience start="Jul 2000" end="Aug 2004" company="Faceparty" role="Business Owner">
			I co-founded and built one of the first online social networks with a friend. At its peak, we
			served 3 million users and was one of the UK&apos;s highest traffic websites. At the time, we were
			pioneers in dealing with such a large amount of traffic, and we faced multiple hardware related
			hurdles. Through hard work and determination we overcame them all, to produce a performant
			scalable distributed network that distributed capacity and provided failover redundancy.
		</WorkExperience>

		<WorkExperience start="Jun 1997" end="Jul 2000" company="Dyson | Maserati | Virgin | Vodafone UK" role="Junior Web Developer">
			Whilst studying at University, I worked part-time contracting a web design agency.
			Daily responsibilities would be to convert Photoshop documents into responsive
			HTML/CSS/JavaScript micro-sites.
		</WorkExperience>

		<SectionTitle title="Education" />
		<WorkExperienceDate start="Sep 1996" end="Jun 1999" />
		<p class="text-lg mt-0">Leicester University, Leicester</p>
		<p class="text-lg text-cyan-500 dark:text-cyan-400">Computer Science</p>

		<SectionTitle title="Notable Work" />
		<NotableWork imageProps={{ src:"/qualcomm.jpg" }}>
			<p>
				Complete redesign for a global technology brand <Link target="_blank" href="https://www.qualcomm.com">Qualcomm</Link>. Unified 6 different sites into a single React app
			</p>
		</NotableWork>
			
		<NotableWork imageProps={{ src:"/lennd.png" }}>
			<p>
				React and React Native app for the event management platform <Link target="_blank" href="https://www.lennd.com">Lennd</Link>, powered with GraphQL
			</p>
		</NotableWork>

		<NotableWork imageProps={{ src:"/monocle.jpg" }}>
			<p>
				Pixel perfect layouts for the global design magazine <Link target="_blank" href="https://www.monocle.com">Monocle</Link>
			</p>
		</NotableWork>
	</div>
</DefaultLayout>
