---
interface Props {
  art: string;
  class?: string;
}

const { art, class: className } = Astro.props;
---

<div class:list={[
  "text-content-xs font-mono text-gray-600 dark:text-gray-400 select-none",
  className
]}>
  <pre>{art}</pre>
</div>

<style>
  .ascii-container {
    position: relative;
    min-height: 4em;
  }

  .frame {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }

  .frame.visible {
    opacity: 1;
  }
</style>
