---
import Image from './Image.astro';

interface Props {
  slug: string;
  title: string;
  aspectRatio?: number;
  rounded?: boolean;
  hover?: boolean;
  overlay?: boolean;
}

const {
  slug,
  title,
  aspectRatio = 56.25,
  rounded = false,
  hover = false,
} = Astro.props;
---

<div class:list={[ rounded && "rounded-t-lg overflow-hidden" ]}>
  <div class="w-full relative z-0" style={`padding-bottom: ${aspectRatio}%`}>    
    <Image 
      src={`/hero/${slug}.jpg`} 
      alt={`${title} thumbnail`} 
      class:list={[
        "absolute top-0 left-0 w-full h-full object-cover shadow-md",
        hover && "transition-transform duration-300 group-hover:scale-105"
      ]}
    />
  </div>
</div>
