---
import SocialLinks from './SocialLinks.astro';

const today = new Date();
---

<footer class="px-4 py-8 text-center bg-gray-400 dark:bg-gray-900 text-gray-100 dark:text-gray-700">
	<div class="mb-4">
		&copy; {today.getFullYear()} Phineas Kibbey. All rights reserved.
	</div>
	<SocialLinks />	
</footer>
