---
import SocialLinks from './SocialLinks.astro';

const today = new Date();
---

<footer class="px-4 py-8 text-center bg-gray-500 bg-opacity-10 text-gray-400 dark:text-gray-400">
	<div class="mb-4">
		&copy; {today.getFullYear()} Phineas Kibbey. All rights reserved.
	</div>
	<SocialLinks />	
</footer>
