---
import SocialLinks from './SocialLinks.astro';

const today = new Date();
---

<footer class="px-4 pt-8 pb-24 text-center bg-gray-400 text-gray-100">
	<div class="mb-4">
		&copy; {today.getFullYear()} Phineas Kibbey. All rights reserved.
	</div>
	<SocialLinks />	
</footer>
