---
import HeaderLink from './HeaderLink.astro';
import Link from './Link.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<header class="sticky top-0 z-10 bg-white/80 dark:bg-black/80 backdrop-blur-sm border-b border-gray-200 dark:border-gray-800">
	<nav class="container mx-auto px-4 sm:flex items-center justify-between">
		<Link href="/" class="flex items-center gap-2 py-4">Phineas Kibbey</Link>
		<div class="flex items-center sm:gap-2 md:gap-8 justify-end">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/resume">Resume</HeaderLink>
			<HeaderLink href="/tech-blog">Tech Blog</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<div class="border-l border-gray-200 dark:border-gray-700 hidden sm:block pl-8 ml-10 md:ml-0">
				<ThemeToggle />
			</div>
		</div>
	</nav>
</header>
