---
interface Props {
  type?: 'tech' | 'achievement';
  spacing?: boolean;
}

const { type = 'base', spacing = true } = Astro.props;

const styles = {
  tech: 'text-cyan-700 dark:text-cyan-400 font-semibold',
  achievement: 'text-emerald-700 dark:text-emerald-400 font-semibold',
  base: 'text-grey-950 dark:text-grey-50 font-semibold',
};
---

<span class={`${styles[type]} ${spacing ? 'inline-block' : 'inline'} decoration-2 underline-offset-2 transition-all`}>
  <slot />
</span>
