---
export interface Props {
  src: string;
  alt: string;
  ratio?: string; // New property for custom ratio
  class?: string;
}

const { src, alt, ratio = '56.25%', class: className } = Astro.props; // Default to 16:9 aspect ratio
---

<div class:list={['relative w-full object-cover', className]}
   style={`padding-top: ${ratio};`}>
  <img src={src} alt={alt} class="absolute top-0 left-0 w-full h-full object-cover shadow-md rounded" />
</div>
