---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { class: className, ...props } = Astro.props;
---

<a 
    class:list={['text-cyan-600 hover:text-cyan-800 dark:text-cyan-400 dark:hover:text-cyan-600', className]}
    {...Astro.props}
><slot /></a>