---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;
---

<a class="text-yellow-600 dark:text-yellow-400 hover:text-yellow-500 dark:hover:text-yellow-500" {...Astro.props}><slot /></a>