---
const { slot } = Astro.props;
---

<div class="prose dark:prose-invert prose-h1:mb-8 prose-h1:heading-1 prose-h2:heading-2 prose-h2:mb-4 prose-p:text-base prose-p:leading-7 prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-lg">
  <slot />
</div>
