---
import { getCollection } from 'astro:content';
import Link from './Link.astro';
import PostCard from './PostCard.astro';
import PostGrid from './PostGrid.astro';

const blogPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const projectPosts = (await getCollection('projects')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// Get two random posts for each section
function getRandomPosts(posts: typeof blogPosts | typeof projectPosts, count: number) {
  const shuffled = [...posts].sort(() => 0.5 - Math.random());
  return shuffled.slice(0, count);
}

const randomProjects = getRandomPosts(projectPosts, 2);
const randomPosts = getRandomPosts(blogPosts, 2);
---

<div class="grid sm:grid-cols-2 gap-8 mb-12">
  <section class="group">
    <div class="flex items-center justify-between mb-4">
      <h2 class="heading-2">Projects</h2>
      <Link href="/projects" class="mr-4 text-content-sm transition-colors duration-300">
        View all projects
      </Link>
    </div>
    <PostGrid posts={randomProjects} baseUrl='/projects/' class="flex-col !grid-cols-1 !gap-4" />
  </section>

  <section class="group">
    <div class="flex items-center justify-between mb-4">
      <h2 class="heading-2 shrink-0">Blog Posts</h2>
      <Link href="/tech-blog" class="mr-4 text-content-sm transition-colors duration-300">
        View all blogs
      </Link>
    </div>
    <PostGrid posts={randomPosts} baseUrl='/tech-blog/' class="flex-col !grid-cols-1 !gap-4" />
  </section>
</div>