---
import Link from './Link.astro';
import type { HTMLAttributes } from 'astro/types';

interface Props {
  imageProps: HTMLAttributes<'img'>;
}

const { imageProps } = Astro.props;
---

<section>
	<div class="col-span-1 mb-4">
    <img {...imageProps} class="flex-1 mb-4 inline-block shrink" />
		<slot />
	</div>
</section>