---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class={`flex items-center justify-start ${className}`}>
  <div class="h-[1px] w-12 bg-gradient bg-gray-300 dark:bg-gray-700"></div>
</div>
