---
interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<span
  class="text-content-small px-2.5 py-0.5 rounded-md bg-gray-200 text-gray-600 dark:text-gray-400 dark:bg-gray-800/70 transition-all duration-300 no-underline whitespace-nowrap"
>
  {tag}
</span>
