---
interface Props {
  company: string;
  role: string;
}

const { company, role } = Astro.props;
---

<h3 class="heading-3 text-cyan-900 dark:text-cyan-100">
  {company}
</h3>
<p class="text-content text-gray-800 dark:text-gray-300">
  {role}
</p>
