---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

type Props = { title: string; description: string };

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<BaseHead title={title} description={description} />
		<script is:inline>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      function getInitialTheme() {
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme === 'dark' || savedTheme === 'light') {
          return savedTheme;
        }
        // If no saved preference, use system default
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      }

      const theme = getInitialTheme();
      document.documentElement.classList.toggle('dark', theme === 'dark');
    </script>
	</head>

	<body class="bg-white text-gray-950 dark:bg-black dark:text-gray-50 antialiased transition-colors duration-300">
		<Header />
		<main class="mx-auto p-8 min-h-stretch">
			<div class="container max-w-4xl mx-auto prose-lg px-8">
				<h1 class="text-3xl font-bold mb-8 text-gray-900 dark:text-gray-100 tracking-tight mt-4 leading-tight max-w-3xl">{title}</h1>
				<slot />
			</div>
		</main>
		<Footer />
	</body>
</html>
